<h1>Listing complaints</h1>
<div style="text-align:center; ">
<%= form_tag "", :class=>"form-search", :method=>"get" do %>
	<div class="input-append">
	<%= text_field_tag :q, params[:q], :class=>"input-xlarge search-query", placeholder: "" %>
	<%= submit_tag "Search", :class=>"btn" %>
	</div>
<% end %>
</div>
<% if @complaints.size > 0 %>
<ul class="nav nav-tabs nav-stacked">
	<% if params[:q].present? %>
		<p class="text-success" style="text-align:center; ">There are <%= @complaints.size %> results for <%= params[:q] %></p>
	<% end %>
	<% @complaints.each do |complaint| %>
	  <li><%= link_to complaint.display_name, complaint %> </li>
	<% end %>
</ul>
<% else %>
	<p class="text-error" style="text-align:center; ">There are no results for <%= params[:q] %></p>
<% end %>


