<p id="notice"><%= notice %></p>

<h1>
  <%= @complaint.name %>
</h1>

<ul class="nav nav-tabs nav-stacked">
	<% @complaint.rec_sessions.each do |r| %>
	  <li><a href="<%= url_for(r) %>"><%= raw r.patient.display_name + "<i class='icon-arrow-right'></i>" + r.display_name %> <span class="pull-right">A patient of Dr. </span></a></li>
	<% end %>
</ul>

<%= link_to 'Back', complaints_path, class: "btn" %>
