<h1>Welcome Dr. Hoyer</h1>
<ul class="nav nav-tabs nav-stacked">
	<li><a href="<%= new_patient_path %>">New patient</a></li>
	<li><%= link_to "Old patient", patients_path %></li>
	<li><%= link_to "Normal values", nerves_path %></li>
	<li><%= link_to "Stats", complaints_path %></li>

</ul>