

<%= form_for(@nerve, :html=>{:class=>"form-horizontal"}) do |f| %>
  <% if @nerve.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nerve.errors.count, "error") %> prohibited this nerve from being saved:</h2>

      <ul>
      <% @nerve.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, "Nerve name", :class=>"control-label" %>
    <div class="controls"><%= f.text_field :name %></div>
  </div>

  <div class="control-group">
    <%= f.label :rec_site, :class=>"control-label"  %>
    <div class="controls"><%= f.text_field :rec_site %></div>
  </div>

  <div class="control-group">
    <%= f.label :study_type, :class=>"control-label"  %>
    <div class="controls"><%= f.select :study_type, Nerve.study_types %></div>
  </div>


  <div class="control-group">
    <%= f.label :ncv, "Normal NC velocity", :class=>"control-label"  %>
    <div class="controls">
		<%= f.text_field :ncv, :class=>"input-small", :placeholder=>"N/A" %><span class="help-inline"> m/s</span>
		 <%= f.text_area :ncv_comment, :rows=>1, :placeholder=>"Comment", :class=>"input-large" %>
		
	</div>
  </div>

	
<% (1..3).each do |n| %>
<div class="well stim_site_div_<%= n %>" style="<%= "display:none" if n > 1 and f.object.send("stim_site_#{n-1}").blank? %>">
  	<div class="control-group">
    	<%= f.label "stim_site_#{n}", :class=>"control-label" %>
    	<div class="controls">
			<%= f.text_field "stim_site_#{n}", :onkeydown=>"if ($(this).val()!=='') {$(\".stim_site_details_#{n}\").show(); $(\".stim_site_div_#{n+1}\").show(); }", :placeholder=>"N/A" %>
			<%= f.text_area "comment_#{n}", :rows=>1, :placeholder=>"Comment" %>
		</div>
  	</div>

	<div class="stim_site_details_<%= n %>" style="<%= "display:none;" if f.object.send("stim_site_#{n}").blank? %>">
		<p>Leave field blank if not applicable to this study</p>
		
		<div class="control-group">
		  <%= f.label "dist_#{n}", "Normal distance", :class=>"control-label" %>
		  <div class="controls"><%= f.text_field "dist_#{n}", :class=>"input-small", :placeholder=>"N/A"  %> cm</div>
		</div>
		
		<div class="control-group">
			<%= f.label "lat_#{n}", "Peak latency", :class=>"control-label" %>
			<div class="controls ">
				<span class="add-on">&lt;</span>
				<%= f.text_field "lat_#{n}", :class=>"input-small", :placeholder=>"N/A" %> ms <%= f.text_area "lat_comment_#{n}", :placeholder=>"Comment", :rows=>1  %>
			</div>
		</div>
		
		<div class="control-group">
			  <%= f.label "amp_#{n}", "Amplitude", :class=>"control-label" %>
			<div class="controls">
			<span class="add-on">&gt;</span>
			  <%= f.text_field "amp_#{n}", :class=>"input-small", :placeholder=>"N/A" %> uV (sensory)/mV (motor) <%= f.text_area "amp_comment_#{n}", :placeholder=>"Comment", :rows=>1  %>
			</div>
		</div>
		

	</div>
</div>
<% end %>
  <div class="actions">
    <%= f.submit "Save", :class=>"btn btn-primary"%>
  </div>
<% end %>
