<%#

	to customize where each nerve links to,
	
	render this with nerve_href_method defined, e.g. url_to_show
	
	and then in the model
	
	def url_to_show 
		"whatever url you want"
	end

%>
<div class="row-fluid">
<% Nerve.study_types.each do |study_type| %>
	<div class="span3">
		<ul class="nav nav-tabs nav-stacked">
			<li class="nav-header"><%= study_type[0] %></li>
			<% Nerve.where(:study_type=>study_type[1]).each do |nerve| %>
				<li><%= link_to nerve.specific_name || "Unnamed nerve", defined?(nerve_href_method) ? nerve.send(nerve_href_method, defined?(nerve_href_params) ? nerve_href_params : nil ) : edit_nerf_path(nerve) %></li>
			<% end %>
		</ul>
	</div>
<% end %>
</div>
