<%= link_to "Delete", @nerve, method: :delete, data: {confirm: "Are you sure? This nerve has been recorded #{@nerve.measurements.size} times."}, class: "btn btn-danger pull-right" %>

<h1>Editing nerve and normal values</h1>

<%= render 'form' %>

<%= link_to 'Back', nerves_path, class: "btn" %>
