<p id="notice"><%= notice %></p>

<h1><%= @nerve.name %> nerve normal values</h1>
<p><%= @nerve.study_type_in_words %></p>

<% (1..3).each do |n| %>
	<% if @nerve.send("stim_site_#{n}").present? %>
		<div class="well">
		  	<h3><%= @nerve.send("stim_site_#{n}").capitalize %> <i class="icon-arrow-right"></i> <%= @nerve.rec_site.capitalize %></h3>
			<div><%= @nerve.send("comment_#{n}") %></div>
			<hr />
			<div class="clearfix">
				<% if @nerve.send("dist_#{n}").present? %>
				<div class="span2 center">
				  	<p>Distance</p>
				  	<h3 suffix="cm"><%= @nerve.send("dist_#{n}") %></h3>
				</div>
				<% end %>

				<% if @nerve.send("lat_#{n}").present? %>

				<div class="span2 center">
				  	<p>Latency</p>
				  		<h3 suffix="ms"><%= @nerve.send("lat_#{n}") %></h3>
					<p><%= @nerve.send("lat_comment_#{n}")%></p>
				</div>
				<% end %>

				<% if @nerve.send("amp_#{n}").present? %>

				<div class="span2 center">
				  	<p>Amplitude</p>
				  		<h3 suffix="<%= @nerve.amp_units %>"><%= @nerve.send("amp_#{n}") %></h3>
					<p><%= @nerve.send("amp_comment_#{n}")%></p>
				</div>
				<% end %>
				
				<% if @nerve.ncv.present? %>
				<div class="span2 center">
				  <p>NC Velocity</p>
						<h3 suffix="m/s"><%= @nerve.ncv %></h3>
					<p><%= @nerve.ncv_comment %></p>
				</div>
				<% end %>
				
			</div>


		</div>
	<% end %>
<% end %>
<%= link_to 'Edit', edit_nerf_path(@nerve) %> |
<%= link_to 'Back', nerves_path %>
