<%= form_for(@rec_session) do |f| %>
  <% if @rec_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rec_session.errors.count, "error") %> prohibited this rec_session from being saved:</h2>

      <ul>
      <% @rec_session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<%= render "rec_session_fields", :f=> f %>

  <div class="actions">
    <%= f.submit nil,  class: "btn btn-primary" %>
  </div>
<% end %>
