<div class="field control-group">
    <%= f.label :date, :class=>"control-label"  %>
	<div class="controls">
	<%= f.date_select :date %>
	</div>
</div>

<%= f.fields_for :session_complaints do |g| %>
	<div class="control-group">
		<%= g.label :complaint_name, "Complaint", :class=>"control-label"  %> 
		<div class="controls">
			<%= g.text_field :complaint_name, "data-provide"=>"typeahead", "data-source"=>"[#{ Complaint.names_with_quot.join(",")}]" %>
			
			<% SessionComplaint.body_parts.each do |s| %>
				<label class="radio inline"><%= s[0] %><%= g.radio_button :body_part, s[1] %></label>
			<% end %>
		</div>
	</div>
<% end %>

