<h1>Listing rec_sessions</h1>

<table>
  <tr>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rec_sessions.each do |rec_session| %>
  <tr>
    <td><%= rec_session.date %></td>
    <td><%= link_to 'Show', rec_session %></td>
    <td><%= link_to 'Edit', edit_rec_session_path(rec_session) %></td>
    <td><%= link_to 'Destroy', rec_session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rec session', new_rec_session_path %>
