<%= content_for :title do %>
	<%= @rec_session.patient.display_name %> 
<% end %>

<p id="notice"><%= notice %></p>

<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li><%= link_to "Patients", patients_path %> <span class="divider">/</span></li>
  <li><%= link_to @rec_session.patient.display_name, @rec_session.patient %> <span class="divider">/</span></li>
  <li class="active">
	<a href="#"><%= @rec_session.display_name %></a>
  </li>
</ul>

<ul class="pager">
	<li><%= @rec_session.complaints_in_words %></li>
	<li class="next"><%= link_to 'Edit session info', edit_rec_session_path(@rec_session)  %></li>
	<li class="next"><%= link_to 'Add temperature', "#", onclick: "javascript: $('#temp-input-boxes').show(); return false; " %></li>
</ul>

<div class="row-fluid">
	<div class="span12" id="temp-input-boxes" style="display:none; ">
		<div class="well">
		<%= form_for @rec_session, html: {class: "form-inline" } do |h| %>
			<% ["LUE", "RUE", "LLE", "RLE"].each do |loc| %>
			<div class="input-append" style="padding-left: 10px; ">
				<label for="<%= "t_#{loc.downcase}" %>"><%= loc %> 
				<%= h.text_field "t_#{loc.downcase}", {id: "appendedPrependedInput", class: "input-small" } %>			</label>
			  <span class="add-on">&deg;C</span>
			</div>
			<% end %>
			<%= submit_tag "Save", class: "btn" %>
		<% end %>
		</div>
	</div>
</div>
<div class="row-fluid">
<% Nerve.study_types.each do |study_type| %>
	<div class="span4" style="min-height: 130px;">
	<ul class="nav nav-tabs nav-stacked">
		<li class="nav-header"><%= study_type[0] %> </li>
		
		<% @measurements.select {|e|e.study_type.to_i==study_type[1]}.each do |meas| %>
			<li <%= raw "class=\"abnormal\"" if meas.abnormal? or meas.blank? %>><a href="<%= url_for([@rec_session,meas]) %>/edit"><i class="icon-<%= true ? "ok" : "none" %>"></i> <%= meas.display_name %></a></li>
		<% end %>
		<li><a href="<%= rec_session_path + new_measurement_path %>"><i class="icon-plus"></i> <em>Add another</em></a></li>
	</ul>
	</div><%# end .span4 %>
<% end %>
</div><%# end .row-fluid %>

<div class="row-fluid">
	<div class="span12">
		<div class="well">
			<h5>Findings</h5>
			<p>Number of findings: <%= @rec_session.measurements.size %></p>
			<p>Temperature: <%= @rec_session.temp_in_words || "unspecified" %></p>
			<p><%= @rec_session.report %></p>
		</div>
	</div>
</div>