<%= form_for(@patient, :html=>{:class=>"form-horizontal"}) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |msg| %>
        <li class="alert"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field control-group">
    <%= f.label :name, :class=>"control-label" %>
	<div class="controls">
    <%= f.text_field :name %>
	</div>
  </div>
  <div class="field control-group">
    <%= f.label :mrn, "Record no", :class=>"control-label"  %>
	<div class="controls">
	    <%= f.text_field :mrn %>
	</div>
  </div>

	<% if @patient.new_record? %>

		<div class="well">
			<h2>First recording session info</h2>
			<%= f.fields_for :rec_sessions do |sess| %>
				<%= render "rec_sessions/rec_session_fields", :f=>sess %>
			<% end %>
		</div>
	<% end %>

  <div class="actions">
    <%= f.submit "Save and proceed", :class=>"btn btn-primary" %>
  </div>
<% end %>
