

<ul class="pager">
	<li><h1>Listing patients</h1></li>
  	<li class="next"><%= link_to 'New Patient', new_patient_path %></li> 
</ul>
<div style="text-align:center">
<%= form_tag "", :class=>"form-search", :method=>"get" do %>
	<div class="input-append">
	<%= text_field_tag :q, params[:q], :class=>"input-xlarge search-query", placeholder: "" %>
	<%= submit_tag "Search", :class=>"btn" %>
	</div>
<% end %>
</div>

<% if @patients.size > 0 %>
	<% if params[:q].present? %>
	<p class="text-success" style="text-align:center; ">There are <%= @patients.size %> results for <%= params[:q] %></p>
	<% end %>
	<ul class="nav nav-tabs nav-stacked">
		<% @patients.each do |patient| %>
			<li>
				<a href="<%= patient_path(patient) %>"><%= patient.name_and_mrn %> <span class="pull-right"><%= patient.updated_ago %></span></a>
			</li>
		<% end %>
	</ul>

<% else %>
	<p class="text-error" style="text-align:center; ">There are no results for <%= params[:q] %></p>
<% end %>

