<%= content_for :title do %>
	<%= @patient.name_and_mrn %> 
<% end %>


<p id="notice"><%= notice %></p>

<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
<li><%= link_to "Patients", patients_path %> <span class="divider">/</span></li>
  <li class="active"><a href="#"><%= @patient.display_name %></a></li>
</ul>

<ul class="pager">
	<li class="next"><%= link_to 'Edit patient', edit_patient_path(@patient) %></li>
	<li class="next"><%= link_to 'Delete patient', @patient, method: :delete, data: { confirm: 'Are you sure?' } %></li>
	<li class="next"><%= link_to "New recording session", patient_path(@patient) + rec_sessions_path + "/new" %></li>
</ul>
<% if @patient.rec_sessions.exists? %>
	<ul class="nav nav-tabs nav-stacked">
		<% @patient.rec_sessions.each do |rec_sessions| %>
		<li><a href="<%= url_for rec_sessions %>"><%=  "Session for #{rec_sessions.complaints_in_words} (#{rec_sessions.measurements.size} measurements)" %><span class="pull-right"><%= rec_sessions.date %></span></a> </li>
		<% end %>
	</ul>
<% else %>
	<p>No recording sessions</p>
<% end %>


