

<%= form_for([RecSession.find(params[:rec_session_id]), @measurement], html: {class: "form-horizontal"} ) do |f| %>
  <% if @measurement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@measurement.errors.count, "error") %> prohibited this measurement from being saved:</h2>

      <ul>
      <% @measurement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="field control-group">
	    <%= f.label :side, :class=>"control-label" %>
	    <div class="controls">
			<%= f.select :side, options_for_select(Measurement.side_choices, @measurement.side) %>
	  	</div>
	</div>
	

	<% if params[:nerve_id].blank? and @measurement.nerve_id.blank? %>
		<div class="field control-group">
			<%= f.label :nerve, :class=>"control-label" %>
			<div class="controls">
				<%= f.select :nerve_id, options_for_select(Measurement.nerve_choices   ) %>
			</div>
		</div>
	<% else %>

		<%= f.hidden_field :nerve_id  %>
		

		<% (1..3).each do |n| %>
			<% if @nerve.send("stim_site_#{n}").present? %>
				<div class="well nerve-segment-<%= n %>">
					<div class="pull-right">
						
					<%= link_to "All normal", "#", :class=>"btn", :onclick=>"alert('these buttons do not work yet')" %>
					<%= link_to "Not measured", "#", :class=>"btn", :onclick=>"alert('these buttons do not work yet')" %>
					<%= link_to "Absent", "#", :class=>"btn", :onclick=>"alert('these buttons do not work yet')" %>
					</div>
				  	<h3><%= @nerve.send("stim_site_#{n}") %> <i class="icon-arrow-right"></i> <%= @nerve.rec_site %></h3> 
				<% if @nerve.send("comment_#{n}").present? %> 
					<div><i class="icon-info-sign"></i> <%= @nerve.send("comment_#{n}") %></div>
				<% end %>
					<hr />
					
					<div class="clearfix">
						<% if @nerve.send("dist_#{n}").present? %>
						<div class="span2 center">
						  <p>Distance</p>
							<%= f.text_field "dist_#{n}", :class=>"input-small" %>
							<% if @nerve.send("dist_#{n}").present? %>
						  		<h3 prefix="Ref " suffix="cm"><%= @nerve.send("dist_#{n}") %></h3>
							<% end %>
						</div>
						<% end %>
						
						<% if @nerve.send("lat_#{n}").present? %>
						<div class="span2 center">
						  	<p>Latency</p>
							<%= f.select "lat_#{n}_cat", options_for_select(Measurement.latency_choices, @measurement.send("lat_#{n}_cat")), {}, :class=>"input-medium" %>
							
								<h3 prefix="Ref <" suffix="ms"><%= @nerve.send("lat_#{n}") %></h3>
							
								
							<% if @nerve.send("lat_comment_#{n}").present? %>
								<i class="icon-info-sign"></i> <%= @nerve.send("lat_comment_#{n}") %>
							<% end %>
						</div>
						<% end %>
						
						
						<% if @nerve.send("amp_#{n}").present? %>
						<div class="span2 center">
						  	<p>Amplitude</p>
							<%= f.select "amp_#{n}_cat", options_for_select(Measurement.amplitude_choices, @measurement.send("amp_#{n}_cat")), {}, :class=>"input-medium" %>
							

								<h3 prefix="Ref >" suffix="<%= @nerve.amp_units %>"><%= @nerve.send("amp_#{n}") %></h3>
								
							
							<% if @nerve.send("amp_comment_#{n}").present? %>
								<i class="icon-info-sign"></i> <%= @nerve.send("amp_comment_#{n}") %>
							<% end %>
						</div>
						<% end %>
						
						<% if @nerve.send("ncv").present? %>
						<div class="span2 center">
							
						  	<p>NC Velocity</p>
						<%= f.select "ncv_#{n}_cat", options_for_select(Measurement.velocity_choices, @measurement.send("ncv_#{n}_cat")), {}, :class=>"input-medium" %>
							
								<h3 prefix="Ref >" suffix="m/s"><%= @nerve.send("ncv") %></h3>
							
							<% if @nerve.send("ncv_comment_#{n}").present? %>
								<i class="icon-info-sign"></i> <%= @nerve.send("ncv_comment_#{n}") %>
							<% end %>
						</div>
						<% end %>
					</div>
				</div>
			<% else %>
				
			<% end %><%# end if stim site name is defined for this nerve%>
		<% end %><%# each n %>
	<% end %>

	<div class="alert alert-info">
		<h5>Report</h5>
		<p id="report"><%= raw @measurement.report %></p>
	</div>
	<div>
		<%= f.label :comment, "Comments and additional findings" %>
		<%= f.text_area :comment, :rows=>3, :style=>"width:500px;" %><br /><br />
	</div>
	
	  <div class="actions">
	    <%= f.submit "Save", :class=>"btn btn-primary" %>
	  </div>
	<% end %>

