<%= link_to "Delete", @measurement, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger pull-right" %>
<h1>Edit <%= @nerve.specific_name if @nerve %> measurement</h1>



<%= render 'form' %>

<%= link_to 'Back', @measurement.rec_session %>
