<h1>Listing measurements</h1>

<table>
  <tr>
    <th>Side</th>
    <th>Nerve</th>
    <th>Location</th>
    <th>Latency cat</th>
    <th>Amplitude cat</th>
    <th>Velocity cat</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @measurements.each do |measurement| %>
  <tr>
    <td><%= measurement.side %></td>
    <td><%= measurement.nerve_id %></td>
    <td><%= measurement.location_id %></td>
    <td><%= measurement.latency_cat %></td>
    <td><%= measurement.amplitude_cat %></td>
    <td><%= measurement.velocity_cat %></td>
    <td><%= link_to 'Show', measurement %></td>
    <td><%= link_to 'Edit', edit_measurement_path(measurement) %></td>
    <td><%= link_to 'Destroy', measurement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Measurement', new_measurement_path %>
