<% if params[:nerve_id].blank? %>
	<h1>Choose a nerve</h1>
	<%= render "nerves/selector", :nerve_href_method=>"url_to_new_measurement_for_this_nerve", :nerve_href_params=>params[:rec_session_id] %>
<% else %>
	<h1>New measurement: <%= @nerve.name if @nerve %></h1>
	<h3><%= @nerve.study_type_in_words if @nerve %></h3>
	<%= render "form" %>
	
<% end %>
<%= link_to "Back", params[:rec_session_id].present? ? rec_session_path( params[:rec_session_id] ) : :back, class: "btn" %>