<p id="notice"><%= notice %></p>

<p>
  <b>Side:</b>
  <%= @measurement.side %>
</p>

<p>
  <b>Nerve:</b>
  <%= @measurement.nerve_id %>
</p>

<p>
  <b>Location:</b>
  <%= @measurement.location_id %>
</p>

<p>
  <b>Latency cat:</b>
  <%= @measurement.latency_cat %>
</p>

<p>
  <b>Amplitude cat:</b>
  <%= @measurement.amplitude_cat %>
</p>

<p>
  <b>Velocity cat:</b>
  <%= @measurement.velocity_cat %>
</p>


<%= link_to 'Edit', edit_measurement_path(@measurement) %> |
<%= link_to 'Back', measurements_path %>
