// Place all the styles related to the Measurements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.center {
	text-align:center; 
}

*[prefix]:before {content: attr(prefix); font-size: 0.6em; color: #777; margin-right: 2px; }
*[suffix]:after {content: attr(suffix); font-size: 0.6em; color: #777; margin-left: 2px;  }